<div class="stats">
  <ion-grid><ion-row>

    <ion-col *ngFor="let item of Data; index as index" [ngStyle]="{'width': (100/(Data.length+1))+'%', 'margin':'auto', 'min-width': '100px'}">

      <div [ngStyle]="(item == 'name')&&{'display': 'flex'}">

        <ion-avatar slot="start" *ngIf="item == 'name' && NameLogo !== ''">
          <ion-img src="assets/icon/logo.png" alt="logo"></ion-img>
        </ion-avatar>

        <ion-text *ngIf="List['id'] && !GlobalStats" [ngStyle]="(item == 'name')&&{'margin':'auto','align-items':'center'}">
          <h1>{{setData(List, item) + ' ' + Prefixes[index]}}</h1>
          <p *ngIf="Display == undefined">{{item}}</p>
          <p *ngIf="Display != undefined">{{Display[index]}}</p>
        </ion-text>

        <ion-text *ngIf="GlobalStats" [ngStyle]="(item == 'name')&&{'margin':'auto','align-items':'center'}">
          <h1>{{setGlobalData(List, item) + ' ' + Prefixes[index]}}</h1>
          <p *ngIf="Display == undefined">{{item}}</p>
          <p *ngIf="Display != undefined">{{Display[index]}}</p>
        </ion-text>

      </div>

    </ion-col>

  </ion-row></ion-grid>
</div>

