.stats{
  margin:0px 20px;

  div{
    color: white;
    text-align: center;
    background-color: #3c1891;
    // margin: 5px;
    padding: 10px;
    border: 0px solid #fff;
    border-radius: 10px;

    h1,p{
      margin: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h1{
      font-size: 16px;
    }

    p{
     font-size: 12px;
     font-weight: bold;
     color: #ac3fff;
    }
  }
}


