<div class="top-space" style="max-width: 100%">
  <div class="title-divisor">
    <ion-text color="light">
      <h1 [ngStyle]="{'font-weight': TitleFontWeight, 'padding': '0px 20px'}">{{Title}}</h1>
    </ion-text>
  </div>

 <swiper #swiperComponent [config]="config" *ngIf="List.length > 0">
    <ng-template *ngFor="let list of List | slice:0:AmountOfCards" swiperSlide>
        <hsuite-card
        [Template]="List.length == 0 ? '0' : '1'"
        [Banner]="list.cover_image"
        [Logo]="Logo"
        [CardTitle]="list.name"
        [Subtitle]="Subtitle"
        [TitleFontSize]="TitleFontSize"
        [TitleFontWeight]="TitleFontWeight"
        [SubtitleFontSize]="SubtitleFontSize"
        [Price]="list.price"
        [FloorPrice]="list.latest_statistics.stats.floor_price.amount"
        [Floor]="Floor"
        [TotalVolume]="list.totalVolume"
        [Link]="setRouter(list)"
        [Callback]="Callback"
        [NoContent]="NoContent"
        ></hsuite-card>
    </ng-template>
  </swiper>

  <swiper #swiperComponent [config]="config" *ngIf="List.length == 0">
      <ng-template *ngFor="let placeholder of placeholder" swiperSlide>
        <hsuite-card
        [Template]="'0'"
        ></hsuite-card>
      </ng-template>
  </swiper>

</div>
