
<ion-card
button  [routerLink]="Link == '' ? undefined : [Link] "
*ngIf="Template == '1' || Template == '2' "
[ngClass]="{'nftCard1-1': Template == '1', 'nftCard1-2': Template == '2', 'selected': Selected}"
[ngStyle]="{'margin':'auto'}"
color="secondary" button>

  <div class="card-image">
    <div *ngIf="Template == '1' || '2'" class="banner">
      <ion-img src={{Banner}} alt="ntfImg"></ion-img>
    </div>
  </div>

  <ion-card-header>

    <div class="top">
      <ion-avatar *ngIf="Template == '1'">
        <ion-img src={{Logo}}></ion-img>
      </ion-avatar>

      <ion-text *ngIf="Template == '1'">
        <ion-card-title [ngStyle]="{'font-size': TitleFontSize}" class="ion-text-wrap title-text">{{CardTitle}}</ion-card-title>
        <ion-card-subtitle *ngIf="Subtitle != ''" [ngStyle]="{'font-size': SubtitleFontSize}" class="ion-text-wrap"><a>{{Subtitle}}</a></ion-card-subtitle>
        <ion-card-subtitle *ngIf="Floor === true" [ngStyle]="{'font-size': SubtitleFontSize}" class="ion-text-wrap"><a>Floor Price: {{FloorPrice}}</a></ion-card-subtitle>
      </ion-text>
    </div>

    <ion-text *ngIf="Template == '2'">
      <ion-card-title [ngStyle]="{'font-size': TitleFontSize}" class="ion-text-wrap">{{CardTitle}}</ion-card-title>
      <ion-card-subtitle *ngIf="PoolWallet" [ngStyle]="{'font-size': SubtitleFontSize}" class="ion-text-wrap"><a>Pool: {{PoolWallet}}</a></ion-card-subtitle>
      <ion-card-subtitle *ngIf="PoolType" [ngStyle]="{'font-size': SubtitleFontSize}" class="ion-text-wrap"><a>Token: {{PoolType.toUpperCase()}}</a></ion-card-subtitle>
      <ion-card-subtitle *ngIf="RoofPrice != ''" [ngStyle]="{'font-size': SubtitleFontSize}" class="ion-text-wrap"><a>Sell Price: {{RoofPrice}}</a></ion-card-subtitle>
      <ion-card-subtitle *ngIf="FloorPrice != ''" [ngStyle]="{'font-size': SubtitleFontSize}" class="ion-text-wrap"><a>Buy Price: {{FloorPrice}}</a></ion-card-subtitle>
      <ion-card-subtitle *ngIf="Price != ''" [ngStyle]="{'font-size': SubtitleFontSize}" class="ion-text-wrap"><a>Estimated Price: {{Price}}</a></ion-card-subtitle>
    </ion-text>

  </ion-card-header>

  <ion-card-content *ngIf="!NoContent">
    <div class="chips" *ngIf="Template == '1'">
      <ng-content select="[chip]"></ng-content>
    </div>
    <ng-content select="[btn]"></ng-content>
  </ion-card-content>
</ion-card>


<ion-card *ngIf="Template == '0'" [ngStyle]="{'margin':'auto'}" color="secondary" class="nftCard1-1">
  <div class="avatar"><ion-img src={{loaderImg}} alt="ntfImg"></ion-img></div>
  <ion-card-header>
    <ion-item color="secondary">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3><ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text></h3>
        <p><ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
  </ion-card-content>
</ion-card>

